@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    background: linear-gradient(#e5dbd0,#4b2f29);
    font-family: 'Roboto Condensed', sans-serif;
}

.bordas {
    border: 1px solid none;
    display: flex;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    align-content: center;
    flex-wrap: wrap;
}

H1, H2 {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 3%;
    color: #4b2f29;
}

hr {
    color: #e5dbd0;
    border: solid 2px;
    opacity: 33%;
}

a {
    text-decoration: none;
}

.titulo {
    font-size: 28px;
    font-weight: bold;
}

.subtitulo {
    font-size: 22px;
    font-weight: 600;
}

.cabecalho {
    display: flex;
    margin: auto;
    width: 100%;
}

.menu {
    background-color: #de5a79;
    overflow: hidden;
    width: 100%;
}

    .menu a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 16px 12px;
        text-decoration: none;
        font-size: 19px;
    }

        .menu a:hover {
            background-color: none;
            color: #4b2f29;
        }

    .menu .icon {
        display: none;
    }

.carrossel {
    width: 95%;
    margin: auto;
}

.carousel-inner {
    border-radius: 12.5px;
}

.box-produtos {
    width: 100%;
    margin-bottom: 3.5%;
    justify-content: space-around;
}

.card {
    width: 20rem;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6e8;
    border-radius: 20px;
}

.card-img-top {
    border-radius: 20px 20px 0px 0px;
}

.btn-primary {
    color: white;
    background-color: #4b2f29;
    border-color: #4b2f29;
}

.btn:hover {
    color: #4b2f29;
    background-color: #de5a79;
    border-color: #4b2f29;
}

.rodape {
    text-align: center;
    margin-top: 4.5%;
}
.formularios {
    border: outset 1.5px black;
    border-radius: 15px;
    background-color: none;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario-cadastro{
    margin-bottom: 2rem;
}
.txtAsp {
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 22rem;
    margin: 0.85rem;
}
.botoesAsp{
    width: 19rem;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #4b2f29;
    color: white;
    transition-duration: 0.5s;
    margin: 0.80rem;
}
.botoesAsp:hover{
    background-color: #de5a79;
    color: #4b2f29;
}
.acesso{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.footer {
    color: #f6f6e8;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
}
.links {
    color: #e5dbd0;
    background-color: none;
    text-decoration: none;
    text-align: center;
    font-size: medium;
    font-style: oblique;
    font-weight: 600;
}
.links:hover{
    background-color: none;
    color: #de5a79;
}
.socialmedia{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.redessociais{
    font-size: 4rem;
    text-decoration: none;
    color: white;
    margin: 1.50rem;
}
.grid-container {
    display: flex;
    flex-direction: column;
}
.dadosUser-endereco{
    width:100%;
}
.listagem-produtos{
    width: 100%;
}
.metodo-pagamento{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.radio-buttons{
    color: white;
    transform: scale(1.5);
    margin-top: 0.80rem;
    margin-left: 2%;
}
.finalizar-pedido {
    width: 100%;
    display: flex;
}
.textos-finalizar{
    width: 70%;
    display: block;
    margin: auto;
}
#lblTituloFinalizar{
    width: 100%;
}
#lblValorTotalPedido{
    width: 100%;
}
.botoesFinalizar{
    width: 30%;
    display: block;
    margin-left: 42.2%;

}
#btnFinalizarPedido{
    width: 100%;
}
#instagram:hover {
    color: #833AB4;
}
#facebook:hover {
    color: #3b5998;
}
#whatsapp:hover {
    color: #25D366;
}

#github {
    color: white;
    background-color: none;
    text-decoration: none;
    text-align: center;
    font-size: small;
    font-style: oblique;
    font-weight: 600;
}

    #github:hover {
        background-color: none;
        color: black;
    }
  
/*media querys*/

@media screen and (max-width: 590px) {
    .menu a:not(:first-child) {
        display: none;
    }

    .menu a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 590px) {
    .menu.responsive {
        position: relative;
    }

        .menu.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .menu.responsive a {
            float: none;
            display: block;
            text-align: left;
        }

    .card {
        width: 20rem;
    }

    .bordas {
        width: 80%;
    }

    .formularios {
        width: 80%;
    }

    .txtAsp {
        width: 18rem;
        margin: 0.85rem;
    }

    .botoesAsp {
        width: 16rem;
    }
}
@media screen and (min-width: 720px) {
    .bordas {
        width: 75%;
    }

    .card {
        width: 23.5rem;
    }

    .box-produtos {
        margin-bottom: 4%;
    }

    footer {
        margin-top: 1%;
    }
    .menu a {
        width: 20%;
    }
}
@media screen and (min-width: 900px) {
    .titulo {
        font-size: 38px;
        font-weight: bold;
    }

    .subtitulo {
        font-size: 31px;
        font-weight: 600;
    }

    #footer {
        font-size: larger;
    }

    #github {
        font-size: medium;
    }

    .bordas {
        width: 90%;
    }

    .card {
        width: 23rem;
    }

    .carrossel {
        width: 80%;
    }

    .menu a {
        width: 20%;
    }
    .formularios {
        width: 70%;
    }

    .txtAsp {
        width: 23rem;
        margin: 0.80rem;
    }

    .botoesAsp {
        width: 18rem;
    }
}

@media screen and (min-width: 1280px) {
    .bordas {
        width: 90%;
    }

    .card {
        width: 21rem;
    }

    .menu a {
        width: 19%;
    }
    .formularios {
        width: 70%;
    }

    .txtAsp {
        width: 28rem;
        margin: 0.88rem;
    }

    .botoesAsp {
        width: 21rem;
    }

    footer {
        margin-top: -1%;
        margin-bottom: 1%;
    }
}
