/*DEFAULT*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    background: linear-gradient(#e5dbd0,#4b2f29);
    font-family: 'Source Sans Pro', sans-serif;
}
fieldset {
    border: 1px solid white;
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    align-content: center;
}

H1, H2 {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 3%;
    color: #4b2f29;
}
hr {
    color: #e5dbd0;
    border: solid 2px;
    opacity: 33%;
}
a {
    text-decoration: none;
}
.titulo{
    font-size:28px;
    font-weight: bold;
}
.subtitulo {
    font-size: 22px;
    font-weight: 600;
}
.cabecalho {
    display:flex;
    margin:auto;
    width: 100%;
    
}
.menu {
    background-color: #de5a79;
    overflow: hidden;
    width: 100%;
}
.menu a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
    .menu a:hover {
        background-color: #de5a79;
        color: black;
    }
    .menu a.active {
        background-color: #4b2f29;
        color: white;
    }
.menu .icon {
    display: none;
}
.carrossel{
    width: 90%;
    margin:auto;
}
.carousel-inner {
    border-radius: 12.5px;
}

.box-produtos{
    width: 100%;
    margin-bottom: 3.5%;
}
.card {
    width: 75%;
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6e8;
    border-radius: 20px;
}
.card-img-top {
    border-radius: 20px;
}
.btn-primary{
    color: white;
    background-color: #4b2f29;
    border-color: #4b2f29;
}
.btn:hover {
    color: white;
    background-color: #786763;
    border-color: #4b2f29;
}
.rodape {
    text-align: center;
    margin-top: 4.5%;
}
#footer {
    color: #f6f6e8;
    font-size: medium;
    font-style: oblique;
    font-weight: bold;
}
#github{
    color: white;
    background-color: none;
    text-decoration: none;
    text-align: center;
    font-size: small;
    font-style: oblique;
    font-weight: 600;
}
/*media querys*/

@media screen and (max-width: 600px) {
    .menu a:not(:first-child) {
        display: none;
    }

    .menu a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .menu.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .menu.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}

